.black-background {
  background-color: black;
  color: white;
}
.white-background {
  background-color: white;
  color: black;
}



.best {
  font-weight: bold;
  text-decoration: underline;

  }
  #cupcake-showing {
    display: none;
  }

  .clickable {cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

#pastries-showing {
  display: none;
}
.clickme {
  cursor: pointer; color: #0088cc;
}

.clickme:hover {
  text-decoration: underline;
}
.clickme1 {
  cursor: pointer; color: #0088cc;
}

.clickme1:hover {
  text-decoration: underline;
}
#pastries-fadein {
  display: none;
}
