p.flashy {
  font-size: 15px;
  font-style: italic;
  color: red;
  font-family:cursive;
}

.best {
  font-weight: bold;
  text-decoration: underline;

  }
  #cupcake-showing {
    display: none;
  }

  .clickable {cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}
